.home { background-color: #eee; padding: 50px 0; font-size: 20px;}
.jz th{ text-align: center; }
.jz td{ text-align: center; }
.top{ margin-bottom: 40px; }
.top button{ margin-right: 20px; }
.top label { height: 35px; line-height: 35px; }